@charset "utf-8";
/* CSS Document */

html, body{
	width:100%;
	height:100%;
	min-height:100%;
	min-width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	background: rgba(126,126,126,0.1);
}

SUDOpaint{
overflow:hidden;
	min-height:100%;
	min-width:100%;	
	width:100%;
	height:100%;
	cursor: url(../imgs/icons/cursor-small.png), auto;
	
}


window, pane{
	position:absolute;
	display:block;
	-webkit-box-sizing: inherit;
  	-moz-box-sizing: inherit;
  	box-sizing: inherit;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	font-size:3vh;
	margin:0;
	padding:0;
}

window{
	transition: all 0.5s ease;	
	
}
pane{
	z-index:10000;	
	pointer-events:none;
}

pane#left{
	top:30px;
	left:0;
	width:auto;
	bottom:0;
}

window#workspace{
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:1;
	cursor: url(../imgs/icons/cursor-small.png), auto;
	overflow:visible;
}
window background{
	pointer-events:none;
	background:#fff;
	display:block;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

/* -- LEFT PANE WINDOW DECLIRATIONS -- */
pane#left window#tools{
	position:relative;
	width:90px;
	height:auto;
	border:3px solid rgba(200,200,200,1);	
	z-index:1;
	left:-96px;
	cursor:pointer;
}

pane#left window#tools toggle{
display: block;
position: absolute;
width: 100px;
height: 28px;
top: 50%;
right: -67px;
-webkit-transform: rotate(-90deg) translateY(-50%);
-moz-transform: rotate(-90deg) translateY(-50%);
-o-transform: rotate(-90deg) translateY(-50%);
-ms-transform: rotate(-90deg) translateY(-50%);
transform: rotate(-90deg) translateY(-50%);
-webkit-transform-origin: top center;
-moz-transform-origin: top center;
-o-transform-origin: top center;
-ms-transform-origin: top center;
transform-origin: top center;
background: rgba(200,200,200,1);
z-index: 1;
text-align: center;
}

pane#left window#tools toggle::after{
	content: attr(name);
	pointer-events:none;
}

pane#left window#tools.inUse{
	left:0;
}


pane#left window#tools.inUse toggle::after{
	content: attr(alt-name);
}


window#File-New{
width: 600px;
height: 420px;
color: #555;
border-radius: 2em;
border: solid 3px #EFEFEF;
z-index: 200000;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
padding: 2em;
font-size:14px;
line-height:1em;
}



window#Warning{
width: 100%;
height: 100%;
background: #000;
z-index: 900000;
left:0;
right:0;
padding: 2em;	
text-align:center;
position:absolute;
display:none;
}

window#Warning span{
width: auto;
height: auto;
font-size: 4vh;
color: red;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
display: block;
}

window#topBar{
width:100%;
height:30px;
font-size:16px;
color:rgba(0,0,0,0.6);
background:rgba(51,51,51,0.4);
top:0;
left:0;
z-index:1;
}
window#topBar #mouseInfo{
float:right;
}

window#pallet{
position:absolute;
right:3px;
bottom:209px;
height:92px;
width:46px;

	border:3px solid rgba(200,200,200,1);	
	z-index:10;
	cursor:pointer;
	
}

swatch::before{
	display:block;
	position:absolute;
	content:'';
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-1;
	background-color: #FEFEFE;
  background-image: -webkit-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -webkit-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
  background-image: -moz-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -moz-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
  background-image: -o-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -o-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
  background-image: -ms-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), -ms-linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
  background-image: linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
  -webkit-background-size:2vh 2vh;
  -moz-background-size:2vh 2vh;
  background-size:2vh 2vh;
  background-position:0 0, 1vh 1vh;
  -webkit-border-radius: 1vh;
	border-radius: 1vh;	
}


swatch{
	display: block;
	position: relative;
	background: white;
	border: 1px solid rgb(128,128,128);
	-webkit-border-radius: 1vh;
	border-radius: 1vh;	
	cursor:pointer;	
	margin:3px;
}


swatch:hover:after{
	box-shadow:inset 0px 0px 6px 1px rgba(255,255,255,0.75), 0px 0px 6px 1px rgba(0,0,0,0.75);
	border: 1px solid grey;
	display:block;
	position:absolute;
	top:1px;
	left:1px;
	right:1px;
	bottom:1px;
	content:'';
	border-radius: 1vh;	
	-webkit-border-radius: 1vh;
	pointer-events:none;
}

window#pallet swatch{
	width:40px;
	height:40px;
}

window#pallet swatch:first-of-type{
	top:0;
	background:black;
	
}

window#pallet swatch:last-of-type{
	bottom:0;
	background:white;
	
}

swatch.selected::after{
	border: 3px solid orange;
	display:block;
	position:absolute;
	top:-3px;
	left:-3px;
	right:-3px;
	bottom:-3px;
	content:'';
	border-radius: 1vh;	
	-webkit-border-radius: 1vh;
	
}

window#color-sliders{
	position:absolute;
	right:49px;
	bottom:209px;
	height:92px;
	width:154px;
	border:3px solid rgba(200,200,200,1);	
	z-index:1;
	cursor:initial;
	font-size:8px;
	line-height:1em;
}
window#color-sliders slider{
	position:relative;
	width:100%;
	line-height:1.5em;
	pointer-events:none;
}
window#color-sliders input{
position: absolute;
display:inline-block;
width: 20px;
height: 1em;
font-size: 8px;
text-align: right;
pointer-events:initial;
	
}

window#color-sliders slider > div{
position: relative;
width: 95px;
margin-left: 45px;
margin-top: -1em;
pointer-events:initial;
}
window#color-sliders slider > div span{
cursor:w-resize;
background:#333;
width:6px;
}



window#color-sliders slider div#slide-r > div{
	background:red;
}
window#color-sliders slider div#slide-g > div{
	background:green;
}
window#color-sliders slider div#slide-b > div{
	background:blue;
}
window#color-sliders slider div#slide-a > div{
	background:black;
}

window#blendmodes{
position: absolute;
right: 3px;
bottom: 304px;
height: 52px;
width: 194px;
border: 3px solid rgba(200,200,200,1);
z-index: 1;
cursor: initial;
font-size: 8px;
line-height: 1em;
padding: 3px;
	
}

window#blendmodes input{
position: relative;
display: inline-block;
width: 20px;
height: 1em;
font-size: 8px;
text-align: right;
pointer-events: initial;	
}

window#blendmodes div#slide-Flow{
position: relative;
display: inline-block;
width: 130px;
height: 1em;
font-size: 8px;
text-align: right;
pointer-events: initial;
margin-left:10px;
margin-top:10px;	
}

window#Tool-Shapes{
position: absolute;
right: 3px;
bottom: 367px;
height: 194px;
width: 194px;
border: 3px solid rgba(200,200,200,1);
z-index: 1;
cursor: initial;
font-size: 8px;
line-height: 1em;
padding: 3px;
	
}


window#Tool-Shapes toolshape{
position: relative;
border: 1px solid rgba(200,200,200,1);
width: 40px;
height: 40px;
display: inline-block;
margin: 3px;
cursor:initial;
}


window#Tool-Shapes toolshape span{
	position:absolute;
	left:0;
	top:0;
	width:40px;
	height:40px;
	pointer-events:none;
}

window#Tool-Shapes toolshape img{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	

}

window#Tool-Shapes toolshape:hover:after{
	border: 2px solid #0CC;
	display:block;
	position:absolute;
	top:-3px;
	left:-3px;
	right:-3px;
	bottom:-3px;
	content:'';
	border-radius: 1vh;	
	-webkit-border-radius: 1vh;
	
}

window#Tool-Shapes toolshape.selected::after{
	border: 2px solid orange;
	display:block;
	position:absolute;
	top:-3px;
	left:-3px;
	right:-3px;
	bottom:-3px;
	content:'';
	border-radius: 1vh;	
	-webkit-border-radius: 1vh;
	
}




/* -- OVERWRITES  -- */

window{pointer-events:all;}
canvas{position:absolute;
backface-visibility: hidden;
perspective: 1000px;
image-rendering: optimizespeed;

}

window#color-picker{
position:absolute;
right:3px;
bottom:3px;
height:200px;
width:200px;
border:3px solid rgba(200,200,200,1);	
z-index:1;
cursor: url(../imgs/icons/cursor-small.png), auto;
}

canvas.Layer, canvas#canvasOutline{
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	cursor: none;
}


